
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h5>All the details are on <br /> the right side on the page</h5>

@section Contact{
    @Html.Partial("_LocationHistory")
}
@section Pricelist{
    @Html.Action("_PriceList", "CActions")
}