<div id="contactInfo">
   
    <p>
        <span class="small-caps">Location</span><br />
        Tålforvej 18<br />
        8250 Egå<br />
        MAP
    </p>
    <p>
        <span class="small-caps">Hours</span><br />
        Mandag til Fredag 9:00-17:00<br />
        Lørdag 10:00-15:00<br />
        Søndag 10:00-14:00
    </p>
    <p>
        <span class="small-caps">Phone</span><br />
        Tel: 1212121212 <br />
        Available 24/7
    </p>

<p>@DateTime.Now.Date</p>
<p>@DateTime.Now.Hour : @DateTime.Now.Minute : @DateTime.Now.Second </p>
</div>