@model PetParadiseHotel.Infrastructure.Repository
@{
    Layout = null;
}
<div>
    @foreach (var invoice in Model.Invoices)
    {
        foreach (var item in invoice.OrderItems)
        {
            <p>Specie: @Html.DisplayFor(m => item.Specie)</p>
            <p>PetName: @Html.DisplayFor(m => item.PetName)</p>
            <hr />
        }
    }
</div>
